.wrapper {
    display: flex;
}

.nav-top {
    z-index: 1;
}

.sidebar {
    margin: 0;
    padding: 10px;
    max-width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    position: sticky;
    left: 0;
  }

.sidebar a {
    display: block;
    color: black;
    padding: 7px;
    text-decoration: none;
  }

.sidebar a.active {
    background-color: #a87bc2;
    color: white;
  }

.sidebar a:hover:not(.active) {
    background-color: rgb(88, 204, 150);
    color: white;
  }

.body {
    margin-top: 15px;
    padding: 1px 16px;
    width: 80%;
    margin-left: 4%;
}

.loggedIn {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 15px;
}

.Info {
    margin: 5%;
}

.InfoCrest {
    margin-left: 30%; 
    display: inline-block;
}

.TeamInfo {
    margin-left: 100px;
    display: inline-block;
    position: relative;
    top: 70px;
}

.standing > table, .matchday {
    border-collapse: collapse;
    width: 100%;
}

.standing tr {
    border-bottom: 1px solid rgba(221, 221, 221, 0.781);
}

.standing tr:nth-child(2) {
    background-color: rgba(223, 223, 156, 0.692);
}

.standing tr:nth-child(3),.standing tr:nth-child(4),.standing tr:nth-child(5) {
    background-color: rgba(139, 204, 136, 0.685);
}

.standing tr:nth-child(6) {
    background-color: rgba(138, 148, 202, 0.685);
}

.standing tr:nth-child(19),.standing tr:nth-child(20),.standing tr:nth-child(21) {
    background-color: rgba(204, 125, 125, 0.685);
}

.standing td {
    padding: 5px;
}

.POSTPONED {
    background-color: rgba(214, 109, 109, 0.685);
}

.PAUSED {
    background-color: rgba(184, 182, 59, 0.363);
}

.IN_PLAY {
    background-color: rgba(98, 175, 137, 0.363); 
}

.score, .MDteams {
    text-align: center;
    font-size: 1.2em;
}

.team-link:link, .team-link:hover {
    color: rgba(194, 27, 27, 0.685)
}

.team-link:visited {
    color: rgba(150, 23, 23, 0.685)
}

.number-of {
    font-size: small;
    color: gray;
}

.transparent {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;  
}

.vote {
    display: inline-block;
}